
/*CTA SECTION*/

.cta-section {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 4rem 1.5rem;
}

.cta-section h2 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.cta-section p {
  max-width: 700px;
  margin: 0 auto 2rem;
  font-size: 1.05rem;
  color: #ddd;
}

.cta-button {
  margin-right: 20px;
}
.cta-section .secondary {
  border-color: white;
  color: white;
}

